---
const {number} = Astro.props;
const {text} = Astro.props;
---
<p class="flex justify-center gap-2 items-center">
    <span class="text-pink-400 font-medium text-3xl 2xl:text-4xl"
      >{number}</span
    > {text}
  </p>
