---
// interface Props {
// 	title: string;
// 	body: string;
// 	href: string;
// }

// const { href, title, body } = Astro.props;

import IconMenu from "../components/icons/IconMenu.astro";
import LinkNav from "../components/LinkNav.astro";
import LinkNavMob from "../components/LinkNavMob.astro";
---

<header
  class="w-full flex justify-center fixed py-4 px-64 z-20 max-xl:px-24 max-md:justify-end max-md:px-6 max-md:py-6 2xl:px-80"
>
  <nav
    class="w-full max-w-[1440px] flex justify-between text-white opacity-95 bg-gray-400 rounded-full bg-clip-padding backdrop-filter backdrop-blur-2xl bg-opacity-20 px-6 py-2 2xl:text-xl 2xl:py-3 max-md:hidden"
  >
    <LinkNav href="#home" title="Ir al Inicio" content="Inicio" />
    <LinkNav href="#service" title="Ver Servicios" content="Servicios" />
    <LinkNav href="#history" title="Ver Historia" content="Historia" />
    <LinkNav href="#galery" title="Ver Galeria" content="Galeria" />
    <LinkNav href="#contact" title="Ver Contacto" content="Contacto" />
  </nav>
  <nav
    class="hidden max-md:flex item-center justify-end z-50 bg-gray-400 rounded-2xl bg-clip-padding backdrop-filter backdrop-blur-2xl bg-opacity-40 px-3 py-3"
  >
    <IconMenu id="iconMenu" class="w-8 opacity-90" />
  </nav>
  <div
    id="menu-nesting"
    class="grid place-content-center gap-10 text-center text-2xl w-full h-screen absolute top-0 bottom-0 transition-all right-[-100%] z-40 bg-[#0F0F14] md:hidden"
  >
    <LinkNavMob
      class="text-white"
      href="#home"
      title="Ir al Inicio"
      content="Inicio"
    />
    <LinkNavMob
      class="text-pink-300"
      href="#service"
      title="Ver Servicios"
      content="Servicios"
    />
    <LinkNavMob
      class="text-white"
      href="#history"
      title="Ver Historia"
      content="Historia"
    />
    <LinkNav
      class="text-pink-300"
      href="#galery"
      title="Ver Galeria"
      content="Galeria"
    />
    <LinkNavMob
      class="text-white"
      href="#contact"
      title="Ver Contacto"
      content="Contacto"
    />
  </div>
</header>

<slot />

<script>
  const iconMenu = document.querySelector("#iconMenu");
  const menu = document.querySelector("#menu-nesting");
  const body = document.querySelector("#body");
  iconMenu.addEventListener("click", openMenu);

  function openMenu() {
    menu.classList.toggle("right-[0]");
    body.classList.toggle("overflow-hidden");
  }

  document.querySelectorAll(".linksMenu").forEach(function (link) {
    link.addEventListener("click", function () {
      menu.classList.toggle("right-[0]");
      body.classList.toggle("overflow-hidden");
    });
  });
</script>
