---
const {title} = Astro.props;
---
<div class="w-full flex gap-2 flex-col items-center justify-center bg-gray-400 rounded-2xl bg-clip-padding backdrop-filter backdrop-blur-2xl bg-opacity-10 px-4 py-6">
    <slot/>
    <h3 class="text-[22px] text-center text-pink-300 flex-grow">{title}</h3>
</div>